body{
  margin:0;
  background:#001f17;
  font-family:Arial,sans-serif;
  color:white;
}

.card{
  background:#022c22;
  border-radius:24px;
  padding:18px;
  margin:18px;
  border:1px solid rgba(0,255,120,.15);
  box-shadow:0 0 20px rgba(0,255,100,.08);
}

.card-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:15px;
}

.live-badge{
  background:#c1121f;
  padding:7px 14px;
  border-radius:10px;
  font-size:13px;
  font-weight:bold;
}

.hot-badge{
  background:#ff7b00;
  padding:7px 14px;
  border-radius:10px;
  font-size:13px;
  font-weight:bold;
}

.teams{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:10px;
  text-align:center;
}

.team{
  width:35%;
}

.team img{
  width:90px;
  height:90px;
  object-fit:contain;
}

.team h3{
  font-size:21px;
  margin-top:10px;
}

.center-info{
  width:30%;
  text-align:center;
}

.minute{
  color:#00ff66;
  font-size:28px;
  font-weight:bold;
}

.vs{
  font-size:42px;
  font-weight:bold;
  margin:8px 0;
}

.odds-box{
  background:#06281d;
  border:1px solid rgba(255,255,255,.1);
  border-radius:16px;
  padding:10px;
}

.odds-box span{
  display:block;
  color:#aaa;
  font-size:14px;
}

.odds-box strong{
  color:#00ff66;
  font-size:28px;
}

.confidence-row{
  display:flex;
  justify-content:space-between;
  margin-top:20px;
  font-size:16px;
}

.progress{
  height:12px;
  background:#111;
  border-radius:20px;
  overflow:hidden;
  margin-top:10px;
}

.progress-bar{
  width:65%;
  height:100%;
  background:linear-gradient(90deg,#00ff66,#32ff7e);
  border-radius:20px;
}

.buttons{
  display:flex;
  gap:15px;
  margin-top:20px;
}

.bet-btn{
  flex:1;
  background:linear-gradient(90deg,#0f9b3d,#1ed760);
  color:white;
  text-decoration:none;
  padding:18px;
  border-radius:16px;
  font-size:22px;
  font-weight:bold;
  text-align:center;
}

.predict-btn{
  flex:1;
  background:#ffd60a;
  border:none;
  border-radius:16px;
  font-size:22px;
  font-weight:bold;
  padding:18px;
}
