body {
  font-family: Arial;
  background: #0b132b;
  color: white;
  padding: 10px;
}

.match {
  background: #1c2541;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.league {
  font-size: 12px;
  color: #5bc0be;
}

.teams {
  font-size: 16px;
  margin: 6px 0;
}

.buttons a {
  display: inline-block;
  margin-right: 8px;
  margin-top: 6px;
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.watch {
  background: #3a86ff;
  color: white;
}

.bet {
  background: #ffd166;
  color: black;
}
