.match-card{
  background:linear-gradient(180deg,#021d16,#02120e);
  border:1px solid rgba(0,255,100,.12);
  border-radius:24px;
  padding:18px;
  margin:15px;
  box-shadow:0 0 25px rgba(0,255,120,.08);
}

/* TOP */

.top-row{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.top-left{
  display:flex;
  align-items:center;
  gap:10px;
}

.status{
  color:#facc15;
  font-size:15px;
  font-weight:800;
}

.league{
  color:#d1d5db;
  font-size:15px;
  font-weight:600;
}

.menu{
  color:#fff;
  font-size:26px;
}

/* MATCH */

.teams-wrapper{
  display:flex;
  justify-content:space-between;
  align-items:center;
  text-align:center;
}

.team-box{
  width:35%;
}

.team-logo{
  width:92px;
  height:92px;
  object-fit:contain;
}

.team-name{
  margin-top:8px;
  font-size:16px;
  font-weight:800;
  color:#fff;
}

/* CENTER */

.center-box{
  width:30%;
}

.vs{
  font-size:42px;
  font-weight:900;
  color:#fff;
  margin-bottom:10px;
}

.odds-box{
  width:92px;
  margin:auto;
  background:#06261c;
  border:1px solid rgba(255,255,255,.08);
  border-radius:16px;
  padding:10px 5px;
}

.odds-box span{
  display:block;
  color:#d1d5db;
  font-size:14px;
  margin-bottom:4px;
}

.odds-box strong{
  color:#39ff14;
  font-size:22px;
  font-weight:900;
}

/* CONFIDENCE */

.confidence-wrapper{
  margin-top:22px;
}

.confidence-top{
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
  color:#d1d5db;
  font-size:15px;
  font-weight:700;
}

.percent{
  color:#39ff14;
}

.progress-bar{
  height:12px;
  background:#07110d;
  border-radius:20px;
  overflow:hidden;
}

.progress-fill{
  width:62%;
  height:100%;
  border-radius:20px;
  background:linear-gradient(90deg,#00ff66,#22c55e);
  box-shadow:0 0 12px rgba(0,255,100,.45);
}

/* BUTTONS */

.buttons{
  display:flex;
  gap:14px;
  margin-top:20px;
}

.bet-btn{
  flex:1;
  background:linear-gradient(180deg,#18a34a,#15803d);
  color:#fff;
  text-decoration:none;
  text-align:center;
  padding:18px;
  border-radius:14px;
  font-size:18px;
  font-weight:900;
}

.predict-btn{
  flex:1;
  background:#facc15;
  color:#000;
  border:none;
  border-radius:14px;
  font-size:18px;
  font-weight:900;
  padding:18px;
}
